name: Build and Check
on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"
jobs:
  build-and-check:
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle
    - name: Clean Project
      run: ./gradlew clean
    - name: Assemble Project
      run: ./gradlew assemble
    - name: Check Project
      run: ./gradlew check
    - name: Generate Docs
      run: ./gradlew dokkaHtml
